.admin-container {
  display: flex;
  min-height: 100vh;
  background: #f5fafd;
  font-family: 'Segoe UI', sans-serif;
}

.admin-content {
  flex-grow: 1 1 0%;
  padding: 0 16px;
  min-width: 0;
  background-color: #f5faff;
}

app-admin-sidebar {
  width: 220px;
  min-width: 180px;
  max-width: 260px;
  /* position: relative; */
}
@media (max-width: 991.98px) {
  .admin-content {
    margin-top: 3.5rem;
  }
}