<!-- HERO -->
<section class="hero-section">
  <div class="hero-overlay"></div>
  <div class="container hero-content text-center">
    <h1 class="display-4 fw-bold text-dark">Lo nuestro no es ropa, es actitud</h1>
    <p class="lead text-dark-50">Nada que probar. Todo que demostrar.</p>
    <a href="#" class="btn btn-outline-light btn-primary px-4 py-2 mt-3">Explorar Tienda</a>
  </div>
</section>
<!-- CATEGORÍAS -->
<section class="categorias-section">
  <div class="container text-center">
    <h2 class="categorias-title mb-4">Categorías destacadas</h2>
    <div class="row categorias-row g-4">
      <div class="col-md-4">
        <div class="categoria-card card h-100 shadow-sm border-0">
          <img src="assets/home/buzo-categorias.jpg" class="categoria-img card-img-top" alt="Camperas" />
          <div class="card-body">
            <h5 class="categoria-nombre card-title">Buzos</h5>
            <p class="categoria-desc card-text">Diseños livianos, resistentes y con estilo.</p>
            <a href="#" class="btn btn-sm">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="categoria-card card h-100 shadow-sm border-0">
          <img src="assets/home/imagen-remera-categorias.jpg" class="categoria-img card-img-top" alt="Remeras" />
          <div class="card-body">
            <h5 class="categoria-nombre card-title">Remeras</h5>
            <p class="categoria-desc card-text">Comodidad en cada curva. Estilo para cada día.</p>
            <a href="#" class="btn  btn-sm">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="categoria-card card h-100 shadow-sm border-0">
          <img src="assets/home/musculosa-categorias.jpg" class="categoria-img card-img-top" alt="Accesorios" />
          <div class="card-body">
            <h5 class="categoria-nombre card-title">Musculosas</h5>
            <p class="categoria-desc card-text">Musculosas con estilo para destacar en cualquier ocasión.</p>
            <a href="#" class="btn btn-sm">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SOBRE NOSOTROS -->
<section class="sobre-nosotros-section">
  <div class="container text-center">
    <h2 class="sobre-nosotros-title mb-4">Nuestra historia</h2>
    <p class="sobre-nosotros-desc lead text-muted">
    Nuestra marca nació en septiembre de 2024 en San Salvador de Jujuy, iniciada por un joven de 20 años con la visión de crear prendas que reflejen autenticidad y libertad. Inspirados en la pasión por el diseño y el deseo de moverse con estilo, buscamos acompañar a quienes eligen destacar cada día.
    </p>
  </div>
</section>