<div class="form">
  <button
    type="button"
    class="btn btn-custom-back position-absolute"
    style="top: 20px; left: 20px; z-index: 10"
    (click)="volver()"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </button>

  <div class="logo text-center">
    <img src="assets/logo-removebg.png" alt="Logo" />
  </div>

  <div class="login-card">
    <ul class="nav nav-tabs" id="loginTabs" role="tablist">
      <li *ngIf="!ingresoDesdeAdmin" class="nav-item" role="presentation">
        <button
          class="nav-link"
          [ngClass]="{ 'active': accion === 'login' }"
          id="login-tab"
          data-bs-toggle="tab"
          data-bs-target="#login"
          type="button"
          role="tab"
          (click)="cambiarAccion('login')"
        >
          Iniciar Sesión
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          [ngClass]="{ 'active': accion === 'register' }"
          id="register-tab"
          data-bs-toggle="tab"
          data-bs-target="#register"
          type="button"
          role="tab"
          (click)="cambiarAccion('register')"
        >
          Crear Cuenta
        </button>
      </li>
    </ul>

    <form [formGroup]="formUsuario" (ngSubmit)="procesarFormulario()">
      <!-- Inicio con Google -->
      <div
        class="text-center py-2 my-2 bg-transparent border-bottom border-info border-3"
      >
        <!-- Contenedor de configuración -->
        <div
          id="g_id_onload"
          data-client_id="494017255948-hr66km4if477k8fcavbm6k3bio5e9s8d.apps.googleusercontent.com"
          data-context="signup"
          data-ux_mode="popup"
          data-callback="handleCredentialResponse"
          data-auto_prompt="false"
        ></div>

        <!-- Contenedor del botón -->
        <div
          class="g_id_signin d-flex justify-content-center"
          data-type="standard"
          data-shape="pill"
          data-theme="filled_blue"
          data-text="continue_with"
          data-size="medium"
          data-logo_alignment="left"
        ></div>
      </div>
      <!-- Mensaje de Error -->
      <div
        *ngIf="msglogin"
        class="alert alert-danger py-2 my-2"
        style="font-size: 0.98em"
      >
        <i class="fa-solid fa-circle-exclamation"></i> {{ msglogin }}
      </div>
      <!-- NOMBRES -->
      <div class="mb-3" *ngIf="accion === 'register'">
        <label for="nombres" class="form-label">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="nombres"
          placeholder="Ej: Juan Pablo"
          formControlName="nombres"
        />
        <div
          *ngIf="formUsuario.get('nombres')?.touched && formUsuario.get('nombres')?.invalid"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('nombres')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div *ngIf="formUsuario.get('nombres')?.errors?.['minlength']">
            Debe tener al menos 3 caracteres.
          </div>
          <div *ngIf="formUsuario.get('nombres')?.errors?.['pattern']">
            Solo se permiten letras y espacios.
          </div>
          <div
            *ngIf="formUsuario.get('nombres')?.errors?.['sinPrimerLetraMayuscula']"
          >
            La primer letra debe ser mayúscula.
          </div>
        </div>
      </div>
      <!-- APELLIDO -->
      <div class="mb-3" *ngIf="accion === 'register'">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          placeholder="Ej: González"
          formControlName="apellido"
        />
        <div
          *ngIf="formUsuario.get('apellido')?.touched && formUsuario.get('apellido')?.invalid"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('apellido')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div *ngIf="formUsuario.get('apellido')?.errors?.['minlength']">
            Debe tener al menos 3 caracteres.
          </div>
          <div *ngIf="formUsuario.get('apellido')?.errors?.['pattern']">
            Solo se permiten letras y espacios.
          </div>
          <div
            *ngIf="formUsuario.get('apellido')?.errors?.['sinPrimerLetraMayuscula']"
          >
            La primer letra debe ser mayúscula.
          </div>
        </div>
      </div>
      <!-- EMAIL -->
      <div class="mb-3" *ngIf="accion === 'register'">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="usuario@gmail.com"
          formControlName="email"
        />
        <div
          *ngIf="formUsuario.get('email')?.touched && formUsuario.get('email')?.invalid"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('email')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div
            *ngIf="formUsuario.get('email')?.errors?.['email'] || formUsuario.get('email')?.errors?.['emailInvalido']"
          >
            Formato de correo inválido.
          </div>
        </div>
      </div>
      <!-- USERNAME -->
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [placeholder]="accion === 'register' ? 'Ej: juanpablo123' : ''"
          formControlName="username"
        />
        <div
          *ngIf="accion === 'register' && formUsuario.get('username')?.touched && formUsuario.get('username')?.invalid"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('username')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div *ngIf="formUsuario.get('username')?.errors?.['minlength']">
            Debe tener al menos 4 caracteres.
          </div>
          <div *ngIf="formUsuario.get('username')?.errors?.['pattern']">
            No se permiten caracteres especiales.
          </div>
        </div>
      </div>
      <!-- PASSWORD -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            [placeholder]="accion === 'register' ? 'Ej: Juan2024!' : ''"
            formControlName="password"
          />
          <button
            type="button"
            class="btn btn-password"
            (click)="cambioPassword()"
            tabindex="-1"
            style="border: none"
          >
            <i
              class="fa-solid"
              [ngClass]="mostrarPassword ? ' fa-eye-slash' : ' fa-eye'"
            ></i>
          </button>
        </div>
        <div
          *ngIf="accion === 'register' && formUsuario.get('password')?.touched && formUsuario.get('password')?.invalid"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('password')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div *ngIf="formUsuario.get('password')?.errors?.['minlength']">
            Debe tener al menos 8 caracteres.
          </div>
          <div *ngIf="formUsuario.get('password')?.errors?.['sinMayuscula']">
            Debe contener al menos una letra mayúscula.
          </div>
          <div *ngIf="formUsuario.get('password')?.errors?.['sinMinuscula']">
            Debe contener al menos una letra minúscula.
          </div>
          <div *ngIf="formUsuario.get('password')?.errors?.['sinNumero']">
            Debe contener al menos un número.
          </div>
          <div *ngIf="formUsuario.get('password')?.errors?.['sinEspecial']">
            Debe contener al menos un carácter especial.
          </div>
        </div>
      </div>
      <!-- REPETIR PASSWORD -->
      <div class="mb-3" *ngIf="accion === 'register'">
        <label for="confirmPassword" class="form-label"
          >Repetir Contraseña</label
        >
        <div class="input-group">
          <input
            [type]="mostrarConfirmPassword ? 'text' : 'password'"
            class="form-control"
            id="confirmPassword"
            placeholder="Repite la contraseña"
            formControlName="confirmPassword"
          />
          <button
            type="button"
            class="btn btn-password"
            (click)="mostrarConfirmPassword = !mostrarConfirmPassword"
            tabindex="-1"
            style="border: none"
          >
            <i
              class="fa-solid"
              [ngClass]="mostrarConfirmPassword ? ' fa-eye-slash' : ' fa-eye'"
            ></i>
          </button>
        </div>
        <div
          *ngIf="formUsuario.get('confirmPassword')?.touched"
          class="text-danger mt-1"
          style="font-size: 0.95em"
        >
          <div *ngIf="formUsuario.get('confirmPassword')?.errors?.['required']">
            Este campo es obligatorio.
          </div>
          <div *ngIf="formUsuario.errors?.['passwordsMismatch']">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <!-- BOTÓN ENVIAR -->
      <button
        [disabled]="formUsuario.invalid && accion != 'login'"
        type="submit"
        class="btn btn-form w-100"
      >
        {{ accion === 'register' ? 'CREAR CUENTA' : 'INICIAR SESIÓN' }}
      </button>
    </form>
  </div>
</div>
