.custom-navbar {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding-left: 1rem;
}

.logo-img {
  height: auto;
  max-width: 150px;
  width: auto;
  object-fit: contain;
  display: block;
}

.logo-text:hover {
  color: #0097a7;
}

.nav-link.custom-link {
  color: black;
  margin-right: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link.custom-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link.custom-link:hover {
  color: #00bcd4;
}

.nav-link.custom-link:hover::after {
  width: 100%;
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.hover-dropdown > .nav-link {
  pointer-events: auto;
}

.hover-dropdown .dropdown-toggle::after {
  display: none;
}

.btn-access {
  padding: 10px 20px;
  background-color: #00bcd4;
  color: #fff;
  font-weight: 600;
  border: none;
  border: #00bcd4 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-access:hover {
  background-color: #fff;
  color: #00bcd4;
}
