<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <a routerLink="/home">
        <img src="assets/logo.jpg" alt="Logo" class="footer-logo" />
      </a>
      <p>
        Estilo, comodidad y confianza en cada
        prenda
      </p>
    </div>

    <div class="footer-center">
      <h4>Ropa Oversize Unisex</h4>
      <p>
        Suscríbete para recibir noticias sobre nuevos productos, descuentos
        exclusivos y más...
      </p>
      <form class="subscribe-form">
        <input type="email" placeholder="Tu correo" />
        <button type="submit">SUBSCRIBIRSE</button>
      </form>
    </div>

    <div class="footer-right">
      <h4 class="text-left">Síguenos</h4>
      <div class="social-icons mb-3">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <h4>Contáctanos</h4>
      <p class="" style="font-size: 22px">
        <i class="fa-brands fa-whatsapp" style="font-size: 24px"></i> 388
        415-7277
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 OversizeX Jujuy. Todos los Derechos Reservados</p>
    <div class="footer-links">
      <a href="#">PRIVACIDAD</a>
      <a href="#">TERMINOS Y CONDICIONES</a>
    </div>
  </div>
</footer>
