<div class="accordion accordion-flush" [id]="'accordion-' + color.replace('#','')">
  @for (item of items.toArray(); track item) {
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fw-bold"
                [class.collapsed]="openIndex !== items.toArray().indexOf(item)"
                type="button"
                (click)="toggle(items.toArray().indexOf(item))">
          {{ item.title }}
        </button>
      </h2>
      <div class="accordion-collapse collapse" [class.show]="openIndex === items.toArray().indexOf(item)">
        <div class="accordion-body">
          <ng-template [ngTemplateOutlet]="item._template"></ng-template>
        </div>
      </div>
    </div>
  }
</div>
